<h2 mat-dialog-title>{{ isEditMode ? 'Edit Item' : 'Add New Item' }}</h2>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()" class="add-item-form">
        <div appearance="outline">
            <label for="name">Name</label>
            <input matInput formControlName="name" id="name">
        </div>
        <div>
            <label for="description">Description</label>
            <input formControlName="description" id="description" placeholder="Enter your username">
        </div>
        <div>
            <label for="price">Price</label>
            <input formControlName="price" id="price">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input formControlName="quantity" id="quantity">
        </div>
        <div>
            <label for="category">Category</label>
            <select formControlName="category_id">
                <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
        </div>
        <div class="btn-group">
            <button mat-button type="submit">{{ isEditMode ? 'Update' : 'Save' }}</button>
        </div>
</form>
